

    <div id="logo">
        <div id="logo-content">
            <div id="logo-img">
                <img src="themes/TEDxCMU/TEDxCMU_logo.png" width="200" height="60" />
            </div>
            <div id="logo-text" style="display:none">
            </div>
        </div>
    </div>
